<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="Sharing">Sharing</h4>
	</div>
	
	<div class="modal-body" id="sharing-body">
		<p class="text">Your Unique ID: <b>378-1234-2413</b></p>
		<div class="checkbox">
			<label>
			  <input type="checkbox">Enable Sharing
			</label>
		  </div>
	  <div class="input-group input-group-lg" style="width:100%;">
			<input id="friend-id" class="form-control" placeholder="Friend's ID" ng-keyup="sharingEnterKeyCheck(event);">
		</div>
		<button type="button" class="btn btn-default" id="sharing-button" ng-click="addFriend(document.getElementById('friend-id').value);">Add Friend
		</button>
	</div>
	
	<div class="modal-footer">
	<select class="form-control" id="friendList">
		<option value="one">John's Events</option>
		<option value="two">Bob's Events</option>
		<option value="three">Macy's Events</option>
	</select>
	<button type="button" class="btn btn-default" id="remove-button" ng-click="removeFriend();">Remove
	</button>
	</div>
</div>