<div class = "row">
	<div class="col-md-10">
		<div id='calendar' style="max-height: 900px; margin: 0 auto;"></div>
	</div>
	<div class="col-md-2">
		<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
			<button type="button" id="allEventsButton" class="btn btn-lg btn-default" onclick="loadEventsFromServer(['myEvents.json', 'friendEvents.json']);" disabled >All Events</button>
			<button type="button" id="myEventsButton" class="btn btn-lg btn-default" onclick="loadEventsFromServer(['myEvents.json']);" disabled >My Events</button>
			<button type="button" id="friendEventsButton" class="btn btn-lg btn-default" onclick="loadEventsFromServer(['friendEvents.json']);" disabled >Friend's Events</button>
		</div>
	</div>
</div>